body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#code-block {
  width: 50vh;
  margin-top: 5rem;
}

#code-block .monaco-editor {
  padding: 1rem;
  border-radius: 6px;
}

#code-block .monaco-editor .myHighlightCode {
  /* highlight line of code */
  background-color: brown;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
}